{% extends "temp.html" %}

<head>
  {% block title %} 
  <title> LOGIN PAGE </title>
  {% endblock %}
</head>

{% block body %}
<body> <center>
    <b>LOGIN</b> <br> <br>
    <!--get flashed messages -->
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endwith %}
    
    <form action="/auth" method="POST">
      Username:
      <input type="text" name="username" size="20"> <br><br>
      Password:
      <input type="password" name="password" size="20"> <br><br>>
      <input type="submit" name="Submit">
    </form>
    <br>
</center></body>
</body>
{% endblock %}

